<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/listen"></ion-back-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="no-select">
  <div #folderList id="folderList" class="fadeInWhenLoaded">
    <ion-list *ngIf="subfolders.length > 0">
      <ion-item button *ngFor="let folder of subfolders"
        [routerLink]="['/tabs/listen', folder.id]" [state]="{folderName: folder.name}">
        <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
      </ion-item>
    </ion-list>
  </div>

  <div #textList id="textList">
    <ion-list *ngIf="texts.length > 0" class="fix-padding">
      <ion-item button *ngFor="let text of texts"
        [routerLink]="['/tabs/manage/text', text.id]">
        <ion-icon name="reader" color="dark" class="textIcon"></ion-icon>{{ text.title }}>
      </ion-item>
    </ion-list>
  </div>
</ion-content>