<ion-content class="ion-padding ion-text-center">
  <ion-grid class="max-height">

    <ion-row class="image-row ion-align-items-center ion-justify-content-center">
      <ion-col class="inner2">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center content-row ion-justify-content-center">
      <ion-col class="inner2">
        <ion-card class="max-height">
          <form #form="ngForm" (ngSubmit)="performLogin(form)"
            (keydown.enter)="form.valid ? performLogin(form) : undefined">
            <ion-item lines="full">
              <ion-label position="floating" for="username">{{ 'Username' | translate }}</ion-label>
              <ion-input name="username" type="text" autocomplete="username" id="username" ngModel required></ion-input>
            </ion-item>
            <ion-item id="password-item" lines="full">
              <ion-label position="floating" for="password">{{ 'Password' | translate }}</ion-label>
              <ion-button id="toggle-password" fill=clear slot="end" (click)="showPassword = !showPassword">
                <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </ion-button>
              <ion-input name="password" [type]="showPassword ? 'text' : 'password'" autocomplete="current-password"
                id="password" ngModel required></ion-input>
            </ion-item>
            <ion-button class="button-submit" type="submit" [disabled]="form.invalid" expand="block">
              {{'Login' | translate}}</ion-button>
          </form>
          <ion-card-content>
            {{"Don't have an Account yet?" | translate }}
            <p><a routerLink="/register" class="register-redirect">{{'Register here' | translate }}</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="redirect()">{{'Admin Page' | translate }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="redirectToHelp()">
          <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentMenuLanguages($event)">
        <ion-icon slot="start" name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>