<ion-content class="ion-padding ion-text-center">
  <ion-grid class="max">

    <ion-row class="image-row ion-align-items-center ion-justify-content-center">
      <ion-col class="inner2">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>      
    </ion-row>
    
    <ion-row class="ion-align-items-center content-row ion-justify-content-center">
      <ion-col class="inner2">
        <ion-card class="max">
          <form (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-input placeholder= "{{ 'Username' | translate }}" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"> </ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder= "{{ 'Password' | translate }}" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button  type="submit"  expand="block">
            <button type="submit" class="test">{{'Login' | translate}}</button>
          </ion-button>            
        </form>
        <ion-card-content>
          <ng-container>{{"Don't have an Account yet?" | translate }} </ng-container> 
          <a routerLink="/register" class="register-text-settings">{{'Register here' | translate }}</a>
        </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>   
    
  </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="redirect()">{{'Admin Page' | translate }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentMenuLanguages($event)">
          <ion-icon slot="start" name="globe"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
