a.register-redirect {
  font-size: 16px;
}

ion-card-content {
  margin-top: 10px;
  text-align: center;
}

ion-item {
  --padding-top: 0;
  --inner-padding-bottom: 0;

  &#password-item {
    --inner-padding-end: 0;
    --padding-bottom: 6;
  }
}

ion-button {
  &.button-submit {
    margin: 10px 7px;
  }

  &#toggle-password {
    --ripple-color: transparent;
    --background-hover: false;
    height: 100%;
    width: 4em;
    margin: 0;
    font-size: 16px;
  }
}