<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/manage"></ion-back-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="end">
      <ion-button (click)="presentSpeakerSelect($event)">
        <ion-label>Speaker: {{selectedSpeaker | async}}</ion-label>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 *ngIf="text">{{text.title}}</h1>
    <router-outlet></router-outlet>
</ion-content>
