<ion-content class="ion-padding center text-center">
  <ion-grid class="max-height">

    <ion-row class="image-row ion-align-items-center ion-justify-content-center">
      <ion-col class="inner-col-setting">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center content-row ion-justify-content-center">
      <ion-col class="inner-col-setting">
        <ion-card class="max-height">
          <form *ngIf="currentRegisterStep === 1" #form="ngForm" (ngSubmit)="nextStep(form)" (keyup.enter)="form.valid ? nextStep(form) : undefined">
            <ion-item lines="full">
              <ion-label position="floating" for="username">{{ 'Username' | translate }}</ion-label>
              <ion-input name="username" type="text" id="username" [(ngModel)]="registrationData.username" ngModel required></ion-input>
            </ion-item>
            <ion-item id="password-item" lines="full">
              <ion-label position="floating" for="password">{{ 'Password' | translate }}</ion-label>
              <ion-button id="toggle-password" fill=clear slot="end" (click)="showPassword = !showPassword">
                <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </ion-button>
              <ion-input name="password" [type]="showPassword ? 'text' : 'password'" id="password" ngModel required [(ngModel)]="registrationData.password"></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">{{'Year of birth' | translate}}</ion-label>
              <ion-input name="yearOfBirth" inputmode="decimal"
                [pattern]="'19[2-9][0-9]|20[0-2][0-9]'" ngModel required [(ngModel)]="registrationData.birth_year">
              </ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">{{'Language' | translate}}</ion-label>
              <ion-select multiple="true" name="language" ngModel required [(ngModel)]="registrationData.language_ids">
                <ion-select-option *ngFor="let lang of allLangs" value={{lang.short}}>{{lang.native_name}}</ion-select-option>
            
              </ion-select>
            </ion-item>
            <ion-button class="button-submit" type="submit" [disabled]="form.invalid" expand="block">{{'Next' | translate}}</ion-button>
          </form>


          <form *ngIf="currentRegisterStep === 2" #form2="ngForm" (ngSubmit)="performRegister(form2)"(keyup.enter)="form2.valid ? performRegister(form2) : undefined">
            <ion-item lines="full">
              <ion-label position="floating">{{'Country' | translate}}: </ion-label>
              <ion-input name="country" [(ngModel)]="registrationData.country" ngModel ></ion-input>
            </ion-item>
            <ion-item lines="full">
              <ion-label position="floating">{{'Accent' | translate}}: </ion-label>
              <ion-input name="accent" [(ngModel)]="registrationData.accent" ngModel></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">{{'Education Level' | translate}}:</ion-label>
              <ion-select name="education" [(ngModel)]="registrationData.education" ngModel>
                <ion-select-option value="B6">{{'0-6 years' | translate}}</ion-select-option>
                <ion-select-option value="6T12">{{'6-12 years' | translate}}</ion-select-option>
                <ion-select-option value="M12">{{'more than 12 years' | translate}}</ion-select-option>
              </ion-select>
            </ion-item>
            
            <ion-item lines="full">
              <ion-label position="floating">{{'Gender' | translate}}:</ion-label>
              <ion-select name="gender" [(ngModel)]="registrationData.gender" ngModel>
                <ion-select-option value="F">{{'Female' | translate}}</ion-select-option>
                <ion-select-option selected value="M">{{'Male' | translate}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button class="button-submit" type="submit" [disabled]="form2.invalid" expand="block">{{'Register' | translate}}</ion-button>

          </form>
          <ion-card-content>
            <ng-container>{{'Already have an Account?' | translate}}</ng-container>
            <p><a routerLink="/login" class="login-redirect">{{'Login here' | translate }}</a></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>