a.login-redirect {
  font-size:16px;
}

ion-card-content {
  margin-top: 10px;
}

ion-item {
  --padding-top: 0;
  --inner-padding-bottom: 0;
}

ion-item#password-item {
  --inner-padding-end: 0;
  --padding-bottom: 6;
}

ion-button#toggle-password {
  --ripple-color: transparent;
  --background-hover: false;
  height: 100%;
  width: 4em;
  margin: 0;
  font-size: 16px;
}

.button-submit {
  margin: 10px 7px;
}

.error {
  font-size: 0.8em;
  color: var(--ion-color-danger);
  width: 100%;
  text-align: left;
  padding: 5px 16px;
}

.warning {
  font-size: 0.8em;
  color: var(--ion-color-warning);
  width: 100%;
  text-align: left;
  padding: 5px 16px;
}

.country-dropdown-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 73%; // better would be 100% - 2 * item-height but item-height(--min-height) is not accessible from outside the item
}

.accent-dropdown-container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 60%; // better would be 100% - 3 * item-height but item-height(--min-height) is not accessible from outside the item
}