ion-card-content {
  margin-top: 10px;
  text-align: center;
}

.max-height {
    height: 100%;
}

ion-row.image-row {
  height: 20%;
}

ion-row.content-row {
  height: 80%;

  a.login-redirect {
    font-size: 16px;
  }
}

ion-col.inner-col-setting {
  max-width: 400px;
  min-width: 300px;
}