ion-input[type="number"] {
    text-align: right;
}

.multi-file-naming {
    overflow: hidden;
    max-height: 0px;
    transition: 0.2s ease max-height;

    &.visible {
        max-height: 50px;
    }
}

#text-split-detail {
    overflow: hidden;
    max-height: 0px;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--border-color);
    transition: 0.2s ease max-height;

    &.visible {
        max-height: 50px;
    }

    &.item-has-focus,
    &.ion-invalid {
        padding-bottom: 0px;
        border-width: 2px;
    }

    ion-label {
        font-size: 0.8em;
    }
}

#line-split-detail {
    overflow: hidden;
    max-height: 0px;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--border-color);
    transition: 0.2s ease max-height;

    &.visible {
        max-height: 50px;
    }

    &.item-has-focus,
    &.ion-invalid {
        padding-bottom: 0px;
        border-width: 2px;
    }

    ion-label {
        font-size: 0.8em;
    }
}

.help-text {
    font-size: 0.7em;
    margin: 0;
}

.indent {
    padding-left: 15px;
    font-size: 0.97em;
}