<ion-header>
  <ion-toolbar>
    <ion-title>{{'Create a new text' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createTextForm" (ngSubmit)="createText(createTextForm.value)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">{{'Title' | translate}}</ion-label>
        <ion-input [ngClass]="{'invalid': !titleValid}" formControlName="title" name="name" autofocus="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'Text Content' | translate}}</ion-label>
        <ion-input (change)="setFile($event.target.files.item(0))" ng-required="required" type="file" accept=".txt"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button [disabled]="!formValid" expand="block" type="submit" class="ion-no-margin" color="dark">{{'Create text' | translate}}</ion-button>
    </div>
  </form>
</ion-content>
