<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Download Folder Content</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Folder id {{ folder.id }}</p>
  <p>You can use the following url to download this folder</p>
  <p>{{ server }}{{ folder.dlpath }}</p>
  <p>You can use the following commands to download the folder and its content automatically</p>
  <p>WGET</p>
  <p>WGET2</p>
</ion-content>
