<ion-footer>
  <ion-toolbar>
    <div text-center align-items-center>
      <ion-button color="dark" (click)="navigateToSpeak()" fill="clear">
        <ion-icon slot="start" name="folder-open"></ion-icon>
        <ion-label i18n="@@speak">Speak</ion-label>
      </ion-button>
      <ion-button color="dark" (click)="navigateToPublish()" fill="clear">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
        <ion-label i18n="@@publish">Publish</ion-label>
      </ion-button>
    
      <ion-button color="dark" (click)="navigateToSettings()" fill="clear">
        <ion-icon slot="start" name="settings"></ion-icon>        
        <ion-label i18n="@@settings">Settings</ion-label>    
      </ion-button>
     
    </div>
      
  </ion-toolbar>
</ion-footer>
