<ion-footer>
  <ion-toolbar>
    <div id="tabbar" text-center align-items-center>
      <ion-button #speakTab id="speakTab" (click)="navigateToSpeak($event)" fill="clear">
        <ion-icon slot="start" name="mic"></ion-icon>
      </ion-button>
      <ion-button #manageTab id="manageTab" (click)="navigateToManage($event)" fill="clear">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button #settingsTab id="settingsTab" (click)="navigateToSettings($event)" fill="clear">
        <ion-icon slot="start" name="settings"></ion-icon>        
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
