<ion-footer>
  <ion-toolbar>
    <div id="tabbar" class="ion-align-items-center ion-text-center">
      <ion-button #speakTab id="speakTab" (tap)="navigateToSpeak()" (click)="navigateToSpeak()" fill="clear">
        <ion-icon slot="start" name="mic"></ion-icon>
      </ion-button>
      <ion-button #manageTab id="manageTab" (tap)="navigateToManage()" *ngIf="is_Publisher" (click)="navigateToManage()" fill="clear">
        <ion-icon slot="start" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button #settingsTab id="settingsTab" (tap)="navigateToSettings()" (click)="navigateToSettings()" fill="clear">
        <ion-icon slot="start" name="settings"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
