<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
    <ion-img src="../../assets/img/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="no-select">
  <h1>{{'listen.contentTitle' | translate}}</h1>
  
  <ion-list #folderList class="fadeInWhenLoaded">
    <ion-item button *ngFor="let folder of folders" routerLink="/tabs/listen/{{folder.id}}"
      [state]="{folderName: folder.name}">
      <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
    </ion-item>
  </ion-list>

</ion-content>