ion-col.inner-col-setting {
    max-width: 400px;
    min-width: 300px;
    padding: 0;
}

.max-height {
    height: 100%;
}

ion-row.image-row {
  // remove the height of the footer so the card and image are positioned the same way on login and register
  height: calc(35% - 56px);
  min-height: 114px;
  margin-bottom: 5px;

}
ion-row.content-row {
  height: calc(65% + 56px);

}

ion-card {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  .md {
    --ion-item-background: #1e1e1e;
  }
}