
#username span {
    float: right;
}

#save {
    display: block;
    height: 40px;
    margin: 20px 14px;
    max-width: 200px;
}


@media only screen and (max-width: 800px) {
    #save {
        max-width: none;
    }
}