ion-content h1 {
    margin-left: 15px;
}


#username span {
    float: right;
}

#save {
    margin: 20px 14px;
}


@media only screen and (max-width: 800px) {
    #save {
        display: block;
        max-width: none;
    }
}