ion-content h1 {
    margin-left: 15px;
}

#username span {
    float: right;
}

#save {
    text-transform: capitalize;

    ion-icon {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 800px) {
    #save {
        display: block;
        max-width: none;
    }
}