.green_bar_right,
.red_bar_right {
  padding-right: 5px;
  border-right-width: 3px;
  border-right-style: solid,
}

.green_bar_right {
  border-right-color: green;
}

.red_bar_right {
  border-right-color: var(--ion-color-danger);
}

.blue_underline {
  border-bottom: 3px solid var(--ion-color-primary);
}

.mic-icon,
.mic-icon-recording,
.arrow-back-icon,
.arrow-forward-icon,
.trash-icon,
.play-icon,
.publisher-icon,
.add-icon {
  border-radius: 50%;
}

.mic-icon-recording {
  color: var(--ion-color-danger)!important;
}

.trash-icon {
  background-color: var(--ion-color-danger)!important;
}