<ion-header>
  <ion-toolbar>
    <ion-title>Services Agreement</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h4>Introduction: </h4>
  <p>This services agreement (“Agreement”) is a legal agreement between Datoid, LLC (“Datoid”, “us”, or “we”) and you to perform certain data collection tasks in exchange for payment as described herein.</p>
  <h4>The Parties: </h4>
  <p>Datoid is a limited liability company that performs scientific research in the realm of Speech based AI systems. Datoid seeks to gather data to help the improvement and development of better speech-based artificial intelligence (“AI”) systems. You are an individual or entity, offering to perform services to Datoid of your own volition. Both you and Datoid each have the right to terminate this relationship at any time.</p>
  <p>In exchange for payment from Datoid as outlined in the Payment Schedule, you agree as follows:</p>
  <ol>
    <li>
      <h5>Services to be performed: </h5>
      <p>Datoid will provide you tasks via web-based application (“App”), email, or webpage. As part of the tasks, you will be asked to read English text, speak them aloud and record your speech through the App, or other means as instructed by Datoid. Datoid may apply AI technology that will recognize your speech files and convert them to text. The resulting text will contain recognition errors, which Datoid will correct in a separate recording session. These and other requests for writings, recordings, speech, correction, and clarification, constitute the “Tasks” for the purpose of this agreement.</p>
    </li>
    <li>
      <h5>Assignment of Rights: </h5>
      <p>You assign, in perpetuity, all rights and exclusive ownerships of data, recordings, writings, and any related materials produced through your performance of the Tasks (“Data”) to Datoid, its affiliates and assigns. You understand that Datoid, may -at its sole discretion- use the DATA in the development of proprietary Speech AI systems, and you explicitly relinquish any and all claims to future technology developments or improvements that Datoid, its affiliates or assigns, may make through the use of the Data.</p>
    </li>
    <li>
      <h5>Indemnification: </h5>
      <p>You agree to indemnify and hold harmless, Datoid, its affiliates and assigns from any legal proceedings in connection with your performance of the Tasks or gathering of the Data.</p>
    </li>
    <li>
      <h5>Binding Arbitration: </h5>
      <p>In the event that there is a legal dispute or claim relating to this Agreement, but specifically excluding any dispute principally related to Datoid’s intellectual property (which such dispute will be resolved in litigation before the United States District Court for the Western District of Washington), will be determined by arbitration in Seattle, Washington before a single arbitrator. The arbitration will be administered by the <a href="https://www.adr.org/" target="_blank">American Arbitration Association</a> under its Commercial Arbitration Rules.</p>
    </li>
    <li>
      <h5>Representations and Warranties:</h5>
      <ol>
        <li>
          <p>The Data you are asked to read or correct or otherwise produce in connection with the Tasks, are independent texts or sound files and do not constitute in any way or form an invasion in your privacy.</p>
        </li>
        <li>
          <p>The Data you read or correct or otherwise produce in connection with the Tasks do not contain harmful or objectionable content.</p>
        </li>
        <li>
          <p>You acknowledge that the Data may be used in the development of improved AI systems, including but not limited to automatic speech recognition, speech synthesis, and machine translation systems, and may become part of a larger database that may be shared, distributed, sold, or publicized at the sole discretion of Datoid, its affiliates or assigns.</p>
        </li>
        <li>
          <p>Notwithstanding the above provisions, if Datoid shares, distributes, sells, or publicizes any of the Data, Datoid will make commercially reasonable efforts to remove your name from the Data you provide and replace it with an alphanumerical identifier.</p>
        </li>
      </ol>
    </li>
    <li>
      <h5>Survival: </h5>
      <p>All provisions of this Agreement that give rise to a party's ongoing obligation will survive termination of this Agreement.</p>
    </li>
  </ol>
  <p>By checking the checkbox and registering, you agree to the terms and provisions of this Agreement.</p>
</ion-content>

  