<ion-content class="ion-padding ion-text-center">
  <ion-grid class="max">

    <ion-row class="image-row ion-align-items-center ion-justify-content-center">
      <ion-col class="inner2">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>      
    </ion-row>
    
    <ion-row class="ion-align-items-center content-row ion-justify-content-center">
      <ion-col class="inner2">
        <ion-card class="max">
          <form (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-input i18n-placeholder="@@username" placeholder= "Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"> </ion-input>
            </ion-item>

            <ion-item>
              <ion-input i18n-placeholder="@@password" placeholder= "Password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
          </ion-list>

          <ion-button  type="submit"  expand="block">
            <button i18n="@@login" type="submit" class="test">Login</button>
          </ion-button>            
        </form>
        <ion-card-content>
          <ng-container i18n>Don't have an Account yet?</ng-container> <button i18n=@@register-here (click)="goRegister()" class="register-text-settings">Register here</button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>   

  </ion-grid>
 
</ion-content>
