ion-title {
    margin-top: 30vh;
}
ion-img {
  height: auto;
  width: 300px;
  margin: auto;
  display: block;
}
.inner {
  max-width: 300px;
  min-height: 165px;
  margin: 0 auto;

}
.outer {
  width: 100%;  
}