ion-split-pane>ion-content ion-content {
  --padding-top: 0;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-bottom: 10px;
}

ion-title {
  font-weight: bold;
  padding-left: 10px;
  line-height: 56px;

  img {
    height: 30px;
    transform: translateY(9px);
    margin-right: 5px;
    margin-left: 25px;
  }
}

ion-split-pane {
  margin-top: 56px;
  --side-max-width: 330px;

  .content {
    max-width: 1200px;

    ion-icon {
        font-size: 1.5em;
        transform: translateY(5px);

        &.fill {
          background-color: var(--ion-color-primary);
          color: white;
          font-size: 1em;
          padding: 10px;
        }
    }
  }
}

nav {
  padding: 0 0;

  ion-list {
    background: transparent !important;
    padding: 7px !important;

    ion-list-header {
      font-weight: bold;
      font-size: 1.3em;
    }
  }

  ion-item {
    transition: .2s ease border;
    --padding-top: 0;
    --padding-bottom: 0;
    --inner-padding-bottom: 0;
    --inner-padding-top: 0;
    --border-color: transparent;
  }

  ion-item.active-link {
    --background: var(--ion-color-light-shade);
    pointer-events: none;
  }
}

.red {
  color: var(--ion-color-danger);
}

.bold {
  font-weight: bold;
}

figure {
  margin: 0;
  margin-bottom: 15px;

  figcaption {
    font-style: italic;
  }

  img {
    border: 1px solid #ccc;
    max-width: 800px;
  }
}

table {
  border: 1px solid var(--ion-color-medium);

  th,
  td {
    padding: 10px;
  }

  &#differentTabsTable {
    margin-top: 30px;
    width: 100%;

    th {
      text-align: left;
    }

    td:first-child {
      color: red;
    }
  }
}

// article,
// section {
//   padding-top: 10px;
// }

// ion-menu {
//   --width: 350px;
// }

// article {
//   font-size: 1.2em;
//   padding: 0;
//   margin-top: 50px;
//   border-bottom: 1px solid var(--ion-color-medium);

//   section {
//     margin: 0 30px;
//     padding-top: 10px;
//   }

//   h2 {
//     font-weight: bold;
//     margin: 0;
//     padding: 10px 30px;
//   }

//   h4 {
//     font-weight: bold;
//   }

//   ion-icon {
//     transform: translateY(5px);
//   }
// }

// .red_circle {
//   padding: 2px;
//   border-radius: 50%;
//   border: 3px solid var(--ion-color-danger);
// }

// .red_underline {
//   border-bottom: 3px solid var(--ion-color-danger);
// }

// .trash-icon,
// .minus-icon-red {
//   background-color: var(--ion-color-danger);
// }

// .add-icon-green,
// .minus-icon-red {
//   color: white;
//   padding: 2px;
//   border-radius: 20%;
// }

// .add-icon-green {
//   background-color: var(--ion-color-success);
// }



// #add-listener-icon {
//   background-color: var(--ion-color-light);
//   box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.07), 0 1px 18px 0 rgba(0, 0, 0, 0.07);
//   padding: 15px;
//   border-radius: 50%;
// }

// #add-listening-icon {
//   background-color: var(--ion-color-primary);
//   padding: 8px 13px;
//   border-radius: 15%;
//   color: #fff;
// }

// #add-listening-user-icon {
//   background-color: var(--ion-color-success);
//   padding: 5px;
//   border-radius: 15%;
//   color: #fff;
// }

// #login-button ion-icon {
//   margin-left: 5px;
// }