
ion-title {
  color: var(--ion-color-light);
  font-weight: bold;
  padding-left: 16px;
}

ion-split-pane {
  margin-top: 56px;
  --side-max-width: 400px;
}

nav {
  padding: 10px 0;
}

ion-list {
  background-color: transparent;

  ion-list-header {
    font-weight: bold;
    font-size: 1.3em;
  }
}

figure {
  margin: 0;

  figcaption {
    text-align: center;
    font-style: italic;
  }
}

article, section {
  padding-top: 10px;
}

article {
  margin: 0 30px;
}

.inner {
  padding: 0;    
}

.content{
  max-width: 1200px;
}

.bold {
  font-weight: bold;
}

.adjustFontSize{
  font-size: 16px;
}

.adjustColorDarkmode{
  color: var(--ion-color-dark);
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;

  & > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }
  
  & > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  li ol > li {
    margin: 0;

    &:before {
      content: counters(item, ".") " ";
    }
  }
}





