<ion-searchbar (ionChange)="onSearchTerm($event)" animated placeholder="{{'manage.addListenerModal.selectSpeaker.accentSegment.searchbarPlaceholder' | translate}}">
</ion-searchbar>
<div #userLists class="fadeInWhenLoaded">
  <ion-list>
    <ion-list-header>
      <ion-label>{{'manage.addListenerModal.selectSpeaker.accentSegment.addedAccentsLabel' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let selAcc of filteredSelectedAccents">
      <ion-label>{{selAcc}}</ion-label>
      <ion-button color="danger" slot="end" (click)="removeAccent(selAcc)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>{{'manage.addListenerModal.selectSpeaker.accentSegment.allAccentsLabel' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let accent of filteredAllAccents">
      <ion-label>{{accent}}</ion-label>
      <ion-button color="success" slot="end" (click)="addAccent(accent)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</div>