<ion-searchbar (ionChange)="onSearchTerm($event)" animated placeholder="{{'manage.shareFolderModal.listenersSegment.searchbarPlaceholder' | translate}}">
</ion-searchbar>
<ion-list>
  <ion-list-header>
    <ion-label>{{'manage.shareFolderModal.listenersSegment.addedListenersLabel' | translate}}</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let listener of filteredListeners">
    <ion-label>{{listener.username}}</ion-label>
    <ion-button color="danger" slot="end" (click)="removeListener(listener)">
      <ion-icon name="remove"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    <ion-label>{{'manage.shareFolderModal.listenersSegment.allUsersLabel' | translate}}</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let user of filteredUsers">
    <ion-label>{{user.username}}</ion-label>
    <ion-button color="success" slot="end" (click)="addListener(user)">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>