<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/manage/{{folderId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Detailed Statistics for {{speaker.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Completed Texts
      </ion-label>
      <span class="ion-float-right">
        {{speaker.completedTextsCount}} / {{speaker.texts.length}}
      </span>
    </ion-item>
  </ion-list>
  <h3>Total recording time</h3>
  <ion-list>
    <ion-item>
      <ion-label>without new recordings</ion-label>
      <span class="ion-float-right">
        {{speaker.rec_time_without_rep}}h
      </span>
    </ion-item>
    <ion-item>
      <ion-label>including new recordings</ion-label>
      <span class="ion-float-right">
        {{speaker.rec_time_with_rep}}h
      </span>
    </ion-item>
  </ion-list>
  <h3>Recording time by text</h3>
  <ion-list>
    <ion-card *ngFor="let text of speaker.texts">
      <ion-card-header>
        <ion-card-title>{{text.title}}</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>Finished Sentences</ion-label>
          <span class="ion-float-right">
            {{text.finished}} / {{text.total}}
          </span>
        </ion-item>
      </ion-list>
      <h4>Recording Time</h4>
      <ion-list class="textRecordingStats">
        <ion-item>
          <ion-label>without new recordings</ion-label>
          <span class="ion-float-right">
            {{text.rec_time_without_rep}}h
          </span>
        </ion-item>
        <ion-item>
          <ion-label>including new recordings</ion-label>
          <span class="ion-float-right">
            {{text.rec_time_with_rep}}h
          </span>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-list>
</ion-content>
