<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="stopAll()" defaultHref="speak"></ion-back-button>
    </ion-buttons>
    <ion-title>{{textTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [class]="hasRecording ? 'hasRecording' : 'noRecording'">
    <div class="recordSentences">
      <app-sentence-wrapper></app-sentence-wrapper>
    </div>
    <div class="recordFooter">
      <app-player *ngIf="hasRecording"></app-player>
      <app-recorder></app-recorder>
    </div>
  </div>
</ion-content>
