.recordSentences {
    overflow-y: auto;
}

.recordFooter {
    text-align: center;
}

ion-content div {
    height: 100%;
}

ion-content div.noRecording {
    .recordSentences {
        height: calc(100% - 123px);
    }
    .recordFooter {
        height: 123px;
    }
}

ion-content div.hasRecording {
    .recordSentences {
        height: calc(100% - 183px);
    }
    .recordFooter {
        height: 183px; // 120px record buttons + 60px play bar + 3px progress bar
    }
}