<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="speak">
        <ion-icon name="folder-open"></ion-icon>
        <ion-label>Speak</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="manage">
        <ion-icon name="cloud-upload"></ion-icon>
        <ion-label>Publish</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
