.folderIcon, .textIcon {
    margin-right: 10px;
}
.fabfix{
    margin-bottom: 50px;
}

ion-fab-button {
    width: 60px;
    height: 60px;
}

.fix-padding{
    padding-bottom: 80px;
}

ion-checkbox {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 9px;
}

ion-button.delete, #multiSelectToolbar .actions ion-button {
    height: 25px;
}

#contentTitleWrapper, #multiSelectToolbar {
    display: flex;
    justify-content: space-between;
}

#multiSelectToolbar .actions,
#folderList ion-button.delete,
#textList ion-button.delete,
ion-checkbox.selectCheckbox {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
    transition: .5s ease opacity, .5s ease transform, 0s .5s linear visibility;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: .5s ease opacity, .5s ease transform;
    }
}

#multiSelectToolbar {
    .actions {
        position: absolute;
        overflow: hidden;
        width: 140px;
        right: 60px;
        margin-top: 21px;
        margin-right: 5px;
        padding-left: 20px;
        transform: scale(0.9);
        background-color: var(--ion-background-color);
        border-radius: 20px;
    }

    #toggleMultiSelect {
        --background: transparent;
        color: var(--ion-color-dark);
        margin-right: 10px;
        margin-top: 18px;
    }
}

#folderList, #textList {
    ion-button.delete, ion-checkbox.selectCheckbox {
        position: absolute;
        right: 17px;
    }
}
