.folderIcon,
.textIcon {
    margin-right: 10px;
}

ion-fab-button {
    width: 60px;
    height: 60px;
}

#toggleMultiSelect, ion-checkbox {
    margin-right: 15px;
}

ion-checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#multiSelectToolbar .actions ion-button {
    height: 25px;
}

#contentTitleWrapper,
#multiSelectToolbar {
    display: flex;
    justify-content: space-between;
}

#multiSelectToolbar .actions,
#folderList ion-buttons.delete,
#textList ion-buttons.delete,
ion-checkbox.selectCheckbox {
    opacity: 0;
    visibility: hidden;
    transition: .2s ease opacity, .2s ease transform, 0s .2s linear visibility;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: .2s ease opacity, .2s ease transform;
    }
}

#multiSelectToolbar {
    .actions {
        position: absolute;
        overflow: hidden;
        text-align: right;
        width: 250px;
        right: 70px;
        margin-top: 12px;
        margin-right: 5px;
        padding-left: 20px;
        background-color: var(--ion-background-color);
        border-radius: 20px;
        z-index: 100;
        transform: translateX(50px);
    }

    #toggleMultiSelect {
        --background: transparent;
        color: var(--ion-color-dark);
        margin-top: 10px;
    }
}

#folderList,
#textList {
    ion-checkbox.selectCheckbox {
        position: absolute;
        right: 17px;
    }
}