<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="currentFolder.id" defaultHref="tabs/manage"></ion-back-button>
    </ion-buttons>
    <ion-img *ngIf="currentFolder.name == '/'" src="../../assets/img/logo.png"></ion-img>
    <ion-buttons *ngIf="currentFolder.is_sharedfolder" slot="end">
      <ion-button color="primary" (click)="openShareFolderModal()">
        <ion-icon name="cloudy"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="openFolderStatsModal()">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="downloadFolder()">
        <ion-icon name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>
    <span *ngIf="currentFolder.name == '/'">
      {{'Folders of' | translate}} {{username}}
    </span>
    <span *ngIf="currentFolder.name != '/'">{{currentFolder.name}}</span>
  </h1>
  <div #folderList class="fadeInWhenLoaded">
    <ion-list *ngIf="subfolders.length > 0">
      <ion-item button *ngFor="let folder of subfolders" [routerLink]="['/tabs/manage', folder.id]"
        [state]="{folderName: folder.name}">
        <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
        <ion-button class="delete" color="danger" slot="end" (click)="openDeleteFolderAlert($event, folder)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div #textList class="fadeInWhenLoaded">
    <ion-list *ngIf="texts.length > 0" class="fix-padding">
      <ion-item button *ngFor="let text of texts" [routerLink]="['/tabs/manage/text', text.id]" [state]="{title:
        text.title}">
        <ion-icon name="reader" color="dark" class="textIcon"></ion-icon>{{ text.title }}
        <ion-button class="delete" color="danger" slot="end" (click)="openDeleteTextAlert($event, text)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button *ngIf="!currentFolder.is_sharedfolder" (click)="openCreateFolderModal()">
        <ion-icon name="folder" color="primary"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="currentFolder.id != null && (currentFolder.is_sharedfolder || subfolders.length == 0)"
        (click)="openCreateTextModal()">
        <ion-icon name="reader" color="dark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>