<div *ngIf="folderType=='folder'; then folderList else textList"></div>

<ng-template #folderList>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button *ngIf="folderId" defaultHref="manage" ></ion-back-button>
      </ion-buttons>
      <ion-title>{{folderName ? folderName : '/'}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item button *ngFor="let folder of folders" [routerLink]="folder.type == 'folder' ? ['/manage/f'+folder.id] : ['/manage/s'+folder.id]">
        <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
        <ion-button color="danger" slot="end" (click)="openDeleteFolderAlert($event)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fabfix">
    <ion-fab-button (click)="openCreateFolderModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ng-template>


<ng-template #textList>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button *ngIf="folderId" defaultHref="manage" ></ion-back-button>
      </ion-buttons>
      <ion-title>{{folderName}}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="openShareFolderModal()">
          <ion-icon name="cloudy"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item button *ngFor="let text of texts">
        <ion-icon name="paper" class="textIcon"></ion-icon>{{ text.name }}
        <ion-button color="danger" slot="end" (click)="openDeleteTextAlert($event)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fabfix" >
    <ion-fab-button (click)="openCreateTextModal()" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ng-template>

<app-tabBar></app-tabBar>

