<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="currentFolder.name != '/'" routerLink="/tabs/manage">
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>
      <ion-back-button *ngIf="currentFolder.id" defaultHref="tabs/manage"></ion-back-button>
    </ion-buttons>
    <ion-img *ngIf="currentFolder.name == '/'" src="../../assets/img/logo.png"></ion-img>
    <ion-buttons slot="end">
      <ion-button *ngIf="currentFolder.name == '/'" color="primary" (click)="downloadstatistics()">
        <ion-icon src="../../assets/icons/download-statistics.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="currentFolder.is_sharedfolder" slot="end">
      <ion-button color="primary" (click)="openShareFolderModal()">
        <ion-icon name="cloudy"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="openFolderStatsModal()">
        <ion-icon name="stats-chart"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="downloadFolder()">
        <ion-icon name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="no-select">
  <div id="contentTitleWrapper">
    <h1>
      <span *ngIf="currentFolder.name == '/'">
        {{'manage.contentTitle' | translate}} {{username}}
      </span>
      <span *ngIf="currentFolder.name != '/'">{{currentFolder.name}}</span>
    </h1>
    <div id="multiSelectToolbar">
      <div class="actions" [class.active]="showMultiSelect">
        <ion-button class="delete" [disabled]="deleteSelectionButtonDisabled" color="danger" (click)="openDeleteSelectedItemsModal()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleAllItemsCheckedState()">
          <ion-icon name="checkmark-done"></ion-icon>
        </ion-button>
      </div>
      <ion-button [class.active]="showMultiSelect" id="toggleMultiSelect" (click)="toggleMultiSelect()" fill="clear">
        <ion-icon *ngIf="!showMultiSelect" name="checkbox-outline"></ion-icon>
        <ion-icon *ngIf="showMultiSelect" name="checkbox"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div #folderList id="folderList" class="fadeInWhenLoaded">
    <ion-list *ngIf="subfolders.length > 0">
      <ion-item button *ngFor="let folder of subfolders"
        [routerLink]="showMultiSelect ? null : ['/tabs/manage', folder.id]" 
        (click)="showMultiSelect ? toggleSelectItem($event) : null"
        [state]="{folderName: folder.name}">
        <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
        <ion-buttons class="delete" [class.active]="!showMultiSelect" slot="end">
          <ion-button color="danger"
            (click)="openDeleteFolderAlert($event, folder)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button
            (click)="createLink($event, folder)">
            <ion-icon name="link" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-checkbox class="selectCheckbox" [class.active]="showMultiSelect" slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div #textList id="textList">
    <ion-list *ngIf="texts.length > 0" class="fix-padding">
      <ion-item button *ngFor="let text of texts"
        [routerLink]="showMultiSelect ? null : ['/tabs/manage/text', text.id]"
        (click)="showMultiSelect ? toggleSelectItem($event) : null">
        <ion-icon name="reader" color="dark" class="textIcon"></ion-icon>{{ text.title }}
        <ion-button class="delete" [class.active]="!showMultiSelect" color="danger" slot="end"
          (click)="openDeleteTextAlert($event, text)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-checkbox class="selectCheckbox" [class.active]="showMultiSelect" slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button *ngIf="!currentFolder.is_sharedfolder" (click)="openCreateFolderModal()">
          <ion-icon name="folder" color="primary"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="currentFolder.id != null && (currentFolder.is_sharedfolder || subfolders.length == 0)"
          (click)="openCreateTextModal()">
          <ion-icon name="reader" color="dark"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
      <ion-fab-button color="light" (click)="openAddListenerModal()">
        <ion-icon name="ear"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

</ion-content>