<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/speak"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="sharedFolderData" slot="end">
      <ion-button color="primary" (click)="presentTimeStats()">
        <ion-icon name="alarm"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{'Texts in' | translate}} {{folderName}}</h1>
  <ion-list #textList class="fadeInWhenLoaded">
    <ion-item button *ngFor="let text of texts" routerLink="/speak/{{publisherId}}/{{folderId}}/{{text.id}}">
      <ion-icon name="reader" [color]="(text.words_finished/text.words_total) === 1 ? 'success' : 'dark'" class="textIcon"></ion-icon> 
      <ion-label>
        {{ text.title }}
        <p> {{text.words_finished}}/{{text.words_total}} Words ({{ truncateNumber(text.words_finished/text.words_total, 2)| percent}}) </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>