<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="speak"></ion-back-button>
    </ion-buttons>
    <ion-title><ng-container>{{'Texts in' | translate}}</ng-container> {{folderName}}</ion-title>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let text of texts" routerLink="/speak/{{publisherId}}/{{folderId}}/{{text.id}}">
      <ion-icon name="paper" class="textIcon"></ion-icon> {{ text.title }}
    </ion-item>
  </ion-list>
</ion-content>
<app-tabBar></app-tabBar>