.progress-bar, .progres-bar-placeholder {
    height: 3px;
}

ion-button {
  margin-top: 20px;
}

.btn {
  height: 77px;
  width: 77px;
}

.btn-mic {
    height: 110px;
    font-size: 2em;
    text-align: center;
}