<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="speak"></ion-back-button>
    </ion-buttons>
    <ion-title>Folders by</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let folder of folders" routerLink="/speak/{{publisherId}}/{{folder.id}}">
      <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
    </ion-item>
  </ion-list>
</ion-content>
<app-tabBar></app-tabBar>