<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/speak"></ion-back-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.publisherId != null">
    <h1 *ngIf="this.publisherId != 'public'">{{'Folders by' | translate}} {{publisherName}}</h1>
    <h1 *ngIf="this.publisherId == 'public'">{{'Public folders' | translate}}</h1>
  </div>
  <ion-list #folderList class="fadeInWhenLoaded">
    <ion-item button *ngFor="let folder of folders" routerLink="/tabs/speak/{{publisherId}}/{{folder.id}}"
      [state]="{folderName: folder.name}">
      <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
    </ion-item>
  </ion-list>
</ion-content>