<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="speak"></ion-back-button>
    </ion-buttons>
    <ion-title><ng-container>{{'Folders by' | translate}}</ng-container> {{publisherName}}</ion-title>
    <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let folder of folders" routerLink="/tabs/speak/{{publisherId}}/{{folder.id}}">
      <ion-icon name="folder" class="folderIcon" color="primary"></ion-icon> {{ folder.name }}
    </ion-item>
  </ion-list>
</ion-content>