ion-segment {
    ion-label {
        margin: 0;
    }
    ion-icon {
        font-size: 1.5em;
        vertical-align: middle;
        margin-right: 5px;
    }
}

speakers-segment, listeners-segment {
    width: 100%;
    text-align: left;
}