<ion-header class="no-select">
  <ion-toolbar>
    <ion-title>{{'manage.shareFolderModal.modalTitle' | translate}} {{folderName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment">
    <ion-segment-button value="0">
      <ion-label>
        <ion-icon name="mic-outline"></ion-icon>
        {{'manage.shareFolderModal.speakersSegmentLabel' | translate}}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="1">
      <ion-label>
        <ion-icon name="ear-outline"></ion-icon>
        {{'manage.shareFolderModal.listenersSegmentLabel' | translate}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <speakers-segment [folderId]="folderId"></speakers-segment>
    </ion-slide>
    <ion-slide>
      <listeners-segment [folderId]="folderId"></listeners-segment>
    </ion-slide>
  </ion-slides>
</ion-content>