<ion-header>
  <ion-toolbar>
    <ion-title>Select Speaker</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="onSearchTerm($event)" animated placeholder="Search for User"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Added User</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let speaker of filteredSpeakers">
      <ion-label>{{speaker}}</ion-label>
      <ion-button fill="clear" color="danger" slot="end" (click)="openDeleteFolderAlert($event)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>All Users</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of filteredUsers">
      <ion-label>{{user}}</ion-label>
      <ion-button fill="clear" color="success" slot="end" (click)="openDeleteFolderAlert($event)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
