div {
	opacity: 0.2;
	padding: 5px;
	font-size: 0.9em;
}

.verticalLine, .verticalLineDone {
	padding: 5px 10px;

	&.active {
		opacity: 1;
		padding: 15px;
		font-size: large;
		font-weight: bold;
	}
}

.verticalLine {
  border-left: 8px solid #ff0000;
}

.verticalLineDone {
  border-left: 8px solid Green;
}