div {
	opacity: 0.2;
	padding: 5px;
	font-size: 1em;
}

.sentence {
	padding: 5px 10px;
	border-left: 8px solid var(--ion-color-primary);

	&.active {
		opacity: 1;
		padding: 15px;
		font-size: 1.4em;
		font-weight: bold;
	}
	&.done {
		border-left: 8px solid green;
	}
	&.error {
		border-left: 8px solid red;
		background-color: red;
	}
}