<ion-list color="dark">
  <ion-radio-group (ionChange)="changeLanguage()" [(ngModel)]="language" >
    <ion-item>
      <ion-label>Deutsch</ion-label>
      <ion-radio mode="ios" color="dark" slot="end" value="de"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>English</ion-label>
      <ion-radio mode="ios" color="dark" slot="end" value="en"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>日本語</ion-label>
      <ion-radio mode="ios" color="dark" slot="end" value="ja"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>العربية</ion-label>
      <ion-radio mode="ios" color="dark" slot="end" value="ar"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>