<ion-header>
  <ion-toolbar>
    <ion-title>{{'Recording time for' | translate}} {{folderName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{'including re-recordings' | translate}}: {{timeStats.rec_time_with_rep / 60 | number: '1.2-2'}} min</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{'without re-recordings' | translate}}: {{timeStats.rec_time_without_rep / 60 | number: '1.2-2'}} min</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
