ion-icon {
    font-size: 1.5em;
}

table {
    text-align: left;
    border-collapse: separate; 
    border-spacing: 30px;

    th:first-child {
        padding-right: 20px;
    }

    td ul {
        margin: 0;
        padding: 0;
    }
}