<ion-progress-bar *ngIf="isLoaded" #progresBar class="progress-bar" value="{{recordingProgress}}"></ion-progress-bar>
<div *ngIf="!isLoaded" class="progres-bar-placeholder"></div>

<!-- left button -->
<ion-button *ngIf="!isRecording" class="btn" [disabled]="activeSentence === 1 ? 'true' : 'false'" color="primary"
  shape="round" (click)=previousSentence()>
  <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
</ion-button>
<ion-button *ngIf="isRecording" class="btn" color="danger" shape="round" (click)=trashRecording()>
  <ion-icon slot="icon-only" name="trash"></ion-icon>
</ion-button>
<!-- center button -->
<ion-button *ngIf="!isRecording" class="btn-mic" color="primary" shape="round" (click)=startRecording()>
  <ion-icon slot="icon-only" name="mic"></ion-icon>
</ion-button>
<ion-button *ngIf="isRecording" class="btn-mic" color="primary" shape="round" (click)=stopRecording()>
  <ion-icon src="./assets/icons/blinking_record_icon.svg" slot="icon-only"></ion-icon>
</ion-button>
<!-- right button -->
<ion-button class="btn" color="primary" 
  [disabled]="activeSentence === totalSentenceNumber || (activeSentence === furthestSentenceIndex && !isRecording) ? 'true' : 'false'"
  shape="round" (click)=nextSentence()>
  <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
</ion-button>