
    <ion-progress-bar class="progress-bar" value="{{recordingProgress}}"></ion-progress-bar>

    <!-- left button -->
    <ion-button *ngIf="!isRecording" class="btn" [disabled]="activeSentence === 1 ? 'true' : 'false'" color="primary" shape="round" (click)=previousSentence()>
      <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isRecording" class="btn" color="danger" shape="round" (click)=trashRecording()>
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    <!-- center button -->
    <ion-button *ngIf="!isRecording" class="btn-mic" color="primary" shape="round" (click)=startRecording()>
      <ion-icon slot="icon-only" name="mic"></ion-icon>
    </ion-button>
    <ion-button *ngIf="isRecording" class="btn-mic" color="primary" shape="round" (click)=stopRecording()>
      <ion-icon class="blink_me" slot="icon-only" name="square"></ion-icon>
    </ion-button>
    <!-- right button -->
    <ion-button class="btn" color="primary" [disabled]="activeSentence === totalSentenceNumber ? 'true' : 'false'" shape="round" (click)=nextSentence()>
      <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
    </ion-button>
