

<ion-content class="padding center text-center">
  <ion-grid class="max-height">
    
    <ion-row class="image-row ion-align-items-center ion-justify-content-center">
      <ion-col class="inner-col-setting">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>      
    </ion-row>

    <ion-row class="ion-align-items-center content-row ion-justify-content-center">
      <ion-col class="inner-col-setting">
        <ion-card class="max-height">
          <ion-list class="padding center">
            <ion-item >
              <ion-label i18n="@@username:"> Username: </ion-label>
              <ion-input i18n-placeholder=@@username placeholder="Username" [(ngModel)]="username" required = true><ion-text color="danger">*</ion-text></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label i18n="@@password:">Password: </ion-label>
              <ion-input i18n-placeholder="@@password" placeholder="Password" [(ngModel)]="password" type="password" required=true><ion-text color="danger">*</ion-text></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label i18n="@@password:">Password: </ion-label>
              <ion-input i18n-placeholder="@@password" placeholder="repeat Password" [(ngModel)]="repassword" type="password" required=true><ion-text color="danger">*</ion-text></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label i18n="@@birthyear:">Birthyear: </ion-label>
              <ion-input i18n-placeholder="@@birthyear" placeholder="Birthyear" [(ngModel)]="birthyear" inputmode="decimal" [pattern]="'19[2-9][0-9]|20[0-2][0-9]'"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label i18n="@@country:">Country: </ion-label>
              <ion-input i18n-placeholder="@@country" placeholder="Country" [(ngModel)]="country" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label i18n="@@language:">Language:<ion-text color="danger">*</ion-text></ion-label>
              
              <ion-select i18n-placeholder="@@select-one" multiple="true" placeholder="Select One" [(ngModel)]="language" required="true" >
                <ion-select-option *ngFor="let lang of allLangs" value={{lang.id}} >{{lang.native_name}}</ion-select-option>
                
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label i18n="@@education-level:">Education Level:</ion-label>
                <ion-select i18n-placeholder="@@select-one" placeholder="Select One" [(ngModel)]="education">
                  <ion-select-option i18n="@@B6-years" value="B6">0-6 years</ion-select-option>
                  <ion-select-option i18n="@@6T12-years"value="6T12">6-12 years</ion-select-option>
                  <ion-select-option i18n="@@M12-years" value="M12">more than 12 years</ion-select-option>
                </ion-select>
            </ion-item>
  
            <ion-item>
              <ion-label i18n="@@gender:">Gender:</ion-label>
              <ion-select i18n-placeholder="@@select-one" placeholder="Select One" [(ngModel)]="gender">
                <ion-select-option i18n="@@female" value="F">Female</ion-select-option>
                <ion-select-option i18n="@@male" selected value="M">Male</ion-select-option>
              </ion-select>
            </ion-item>
  
          </ion-list>
            <ion-button i18n="@@register" full (click)="registerUser()" expand="block">Register</ion-button>
            <ion-card-content>
              <ng-container i18n>Already have an Account?</ng-container><button i18n="@@login-here" (click)="goLogin()" class="login-text-settings">Login here</button>
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
