

<ion-content class="padding center text-center">
  <ion-grid class="max-height">
    
    <ion-row class="image-row ion-align-items-center ion-justify-content-center">
      <ion-col class="inner-col-setting">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-col>      
    </ion-row>

    <ion-row class="ion-align-items-center content-row ion-justify-content-center">
      <ion-col class="inner-col-setting">
        <ion-card class="max-height">
          <ion-list class="padding center">
            <ion-item >
              <ion-label>Username: </ion-label>
              <ion-input placeholder="Username" [(ngModel)]="username" required = true><ion-text color="danger">*</ion-text></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label>Password: </ion-label>
              <ion-input placeholder="Password" [(ngModel)]="password" type="password" required=true><ion-text color="danger">*</ion-text></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label>Password: </ion-label>
              <ion-input placeholder="repeat Password" [(ngModel)]="repassword" type="password" required=true><ion-text color="danger">*</ion-text></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label>Birthyear: </ion-label>
              <ion-input placeholder="Birthyear" [(ngModel)]="birthyear" inputmode="decimal" [pattern]="'19[2-9][0-9]|20[0-2][0-9]'"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-label>Country: </ion-label>
              <ion-input placeholder="Country" [(ngModel)]="country" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Language:<ion-text color="danger">*</ion-text></ion-label>
              
              <ion-select multiple="true" placeholder="Select One" [(ngModel)]="language" required="true" >
                <ion-select-option value="1">English</ion-select-option>
                <ion-select-option value="1">German</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Education Level:</ion-label>
                <ion-select placeholder="Select One" [(ngModel)]="education">
                  <ion-select-option value="B6">0-6 years</ion-select-option>
                  <ion-select-option value="6T12">6-12 years</ion-select-option>
                  <ion-select-option value="M12">more than 12 years</ion-select-option>
                </ion-select>
            </ion-item>
  
            <ion-item>
              <ion-label>Gender:</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="gender">
                <ion-select-option value="F">Female</ion-select-option>
                <ion-select-option selected value="M">Male</ion-select-option>
              </ion-select>
            </ion-item>
  
          </ion-list>
            <ion-button full (click)="registerUser()" expand="block">Register</ion-button>
            <ion-card-content>
              Already have an Account?<button (click)="goLogin()" class="login-text-settings">Login</button>here
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
