<ion-header>
  <ion-toolbar>
    <ion-title>{{'Create a new folder' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissForm()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="createFolderForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="stacked">{{'Title' | translate}}</ion-label>
      <ion-input #folderName formControlName="folderName" name="name" autofocus="true"></ion-input>
    </ion-item>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!formValid">{{'Create folder' | translate}}</ion-button>
    </div>
  </form>
</ion-content>
