<ion-header>
  <ion-toolbar>
    <ion-title>{{'Settings' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="logout-btn" color="primary" (click)="logout()">
        {{'Logout' | translate}} 
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="'/settings/profile/'">
        <ion-label>{{'Profile Settings' | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<app-tabBar></app-tabBar>

