<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="'/settings/profile/'">
        <ion-label>Profile-settings</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Interface Language</ion-label>
      <ion-select>
        <ion-select-option selected>English</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item [routerLink]="'/settings/contact/'">
      <ion-label>Contact Developer</ion-label>
    </ion-item> 
  </ion-list>
  <ion-button class=" ion-align-items" (click)="logout()">Logout</ion-button>
</ion-content>
<app-tabBar></app-tabBar>

